<p>
  <%= link_to "Back to home", root_path %>
</p>

<p style="color: green"><%= notice %></p>

<h1>Collections</h1>

<div id="collections">
  <% @collections.each do |collection| %>
    <%= render collection %>
    <p>
      <%= link_to "Show this collection", collection %>
    </p>

    <h3>Items in <%= collection.name %></h3>
    <% collection.inventory_items.each do |item| %>
      <%= render item %>
      <p>-----</p>
    <% end %>
    <hr>
  <% end %>
</div>

<%= link_to "New collection", new_collection_path %>
