<%= form_with(model: inventory_item) do |form| %>
  <% if inventory_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory_item.errors.count, "error") %> prohibited this inventory_item from being saved:</h2>

      <ul>
        <% inventory_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :unit_volume, style: "display: block" %>
    <%= form.text_field :unit_volume %>
  </div>

  <div>
    <%= form.label :unit_weight, style: "display: block" %>
    <%= form.text_field :unit_weight %>
  </div>

  <div>
    <%= form.label :is_frozen, style: "display: block" %>
    <%= form.check_box :is_frozen %>
  </div>

  <div>
    <%= form.label :is_fragile, style: "display: block" %>
    <%= form.check_box :is_fragile %>
  </div>

  <div>
    <%= form.label :collection_id, style: "display: block" %>
    <%= form.select :collection_id,
                    options_from_collection_for_select(Collection.all, :id, :name, inventory_item.collection_id),
                    :include_blank => true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
